<section class="w-100">
        <div class="container ">
            <div class="row">
                <app-reusable-table
                [Items]="products"
                [Item]="product"
                [imageTitleInDialog]="imageTitle"
                [canAdd]="hasPermission('CreateProduct')"
                [canEdit]="hasPermission('UpdateProduct')"
                [canViewDetails]="true"
                [canDelete]="hasPermission('DeleteProduct')"
                [columns]="pageColumns"
                [totalRecords]="totalLength"
                [confirmDeleteDialog]="confirmDeleteDialog"
                responsive="true"
                [lazy]="true"
                (editItem)="editItem($event)"
                (viewItem)="viewItemDetails($event)"

                (openDeleteDialog)="deleteDialogMessage($event)"
                (deleteItem)="deleteItem($event)"
                (openNew)="openNew()"
                (hideDialog)="hideDialog()"
                (onlazyload)="loadItems($event)"
                (getName)="getNameValue($event)"
                >
                </app-reusable-table>
            </div>
          
        </div>
</section>