<div class="container px-4">

</div>
<section class="w-100" >
    <div class="container ">
        <div class="row">
            <app-reusable-table 
                [Items]="Items"
                [Item]="Item"
                [canAdd]="false"
                [canEdit]="hasPermission('EditUser')"
                [canDelete]="hasPermission('DeleteUser')"
                [columns]="pageColumns"
                [confirmDeleteDialog]="confirmDeleteDialog" 
                responsive="true"
                [totalRecords]="Items.length" 
                (editItem)="editItem($event)"
                (openDeleteDialog)="deleteDialogMessage($event)" 
                (deleteItem)="deleteItem($event)" 
                (openNew)="openNew()"
                (hideDialog)="hideDialog()"
                (onlazyload)="loadItems($event)"
                >

            </app-reusable-table>
        </div>

    </div>
</section>


<!--Create New -->

<p-dialog  [(visible)]="AddDialog"  [style]="{width: '60vw'}" header="{{'Users.CreateModal'|translate}}" [modal]="true"
    styleClass="p-fluid">

    <ng-template pTemplate="content">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-12  ">
                    <div class="login-content">
                        <form class="rounded-bottom-2" [formGroup]="regeisterNewUser"
                            (ngSubmit)="createNewUser(regeisterNewUser)">

                            <div class="row">
                                <!-- Form Fields -->
                                <div class="form-group my-2 col-lg-6">
                                    <label for="usernameFormControll"> {{'tableHeader.username'|translate}}</label>

                                    <input formControlName="userName" type="text" class="form-control"
                                        id="usernameFormControll" placeholder="Username" aria-label="Username"
                                        [attr.aria-invalid]="regeisterNewUser.get('userName')?.invalid">
                                    <div>
                                        <div class="alert alert-danger"
                                            *ngIf="regeisterNewUser.get('userName')?.errors && regeisterNewUser.get('userName')?.touched">
                                            <p *ngIf="regeisterNewUser.get('userName')?.getError('required')">Username
                                                is required</p>
                                            <p *ngIf="regeisterNewUser.get('userName')?.getError('minlength')">Username
                                                must be atleast 2 characters</p>
                                            <p *ngIf="regeisterNewUser.get('userName')?.getError('maxlength')">Username
                                                cannot exceed
                                                25 characters</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group my-2 col-lg-6">
                                    <label for="phoneNumberFormControll"> {{'tableHeader.phoneNum'|translate}}</label>

                                    <input formControlName="phoneNumber" type="phone" class="form-control"
                                        id="phoneNumberFormControll" placeholder="Phone Number">

                                    <div>

                                        <div class="alert alert-danger"
                                            *ngIf="regeisterNewUser.get('phoneNumber')?.errors && regeisterNewUser.get('phoneNumber')?.touched">
                                            <p *ngIf="regeisterNewUser.get('phoneNumber')?.getError('required')">Phone
                                                number is required.</p>
                                            <p *ngIf="regeisterNewUser.get('phoneNumber')?.getError('pattern')">Invalid
                                                phone number format.</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group my-2 col-lg-6">
                                    <label for="emailFormControll"> {{'tableHeader.email'|translate}}</label>
                                    <input formControlName="email" type="email" class="form-control"
                                        id="emailFormControll" placeholder="Email">

                                    <div>
                                        <div class="alert alert-danger"
                                            *ngIf="regeisterNewUser.get('email')?.errors && regeisterNewUser.get('email')?.touched">
                                            <p *ngIf="regeisterNewUser.get('email')?.getError('required')">Email is
                                                required.</p>
                                            <p *ngIf="regeisterNewUser.get('email')?.getError('email')">Invalid email
                                                format.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group  col-lg-6">
                                    <label for="role" class="mb-2">{{'tableHeader.role'|translate}}</label>
                                    <select formControlName="role" class="form-control" id="roleFormControll">
                                        <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
                                    </select>
                                    <div>
                                        <div class="alert alert-danger"
                                            *ngIf="regeisterNewUser.get('role')?.errors && regeisterNewUser.get('role')?.touched">
                                            <p *ngIf="regeisterNewUser.get('role')?.getError('required')">Role is
                                                required.</p>
                                            <p *ngIf="regeisterNewUser.get('role')?.getError('pattern')">Role must be
                                                either Admin or User.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group my-2 col-lg-6">
                                    <label for="passwordFormControll">{{'tableHeader.password'|translate}}</label>
                                    <input formControlName="password" type="password" class="form-control"
                                        id="passwordFormControll" placeholder="Password">
                                    <div>
                                        <div class="alert alert-danger"
                                            *ngIf="regeisterNewUser.get('password')?.errors && regeisterNewUser.get('password')?.touched">
                                            <p *ngIf="regeisterNewUser.get('password')?.getError('required')">Password
                                                is required</p>
                                            <p *ngIf="regeisterNewUser.get('password')?.getError('minlength')">
                                                Password must be at least 6 characters</p>
                                            <p *ngIf="regeisterNewUser.get('password')?.getError('maxlength')">Password
                                                cannot exceed 25 characters
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group my-2 col-lg-6">
                                    <label for="rePassword">{{'tableHeader.rePassword'|translate}}</label>
                                    <input formControlName="rePassword" type="password" class="form-control"
                                        id="rePassword" placeholder="{{'tableHeader.rePassword'|translate}}">
                                    <div>
                                        <div class="alert alert-danger"
                                            *ngIf="regeisterNewUser.hasError('mismatch') && regeisterNewUser.get('password')?.touched && (regeisterNewUser.get('password')?.dirty || regeisterNewUser.get('rePassword')?.dirty)">
                                            Passwords do not match.
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- Submit Button -->
                            <div class="text-end p-2">
                                <button type="submit" class="btn btn-primary text-white"
                                    [disabled]="regeisterNewUser.invalid">
                                    <span>Create</span>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>



</p-dialog>
<!--Update || Add Dialog-->
<p-dialog  [(visible)]="itemDialog" [style]="{width: '60vw'}" header="{{'Users.UpdateModal'|translate}}" [modal]="true"
    styleClass="p-fluid">

    <ng-template pTemplate="content">

        <div class="container-fluid">
            <div class="row my-5 pb-3">
                <div class="col-md-6 mb-3">
                    <div class="field">
                        <label for="arabicName">{{ 'tableHeader.username' | translate}} </label><span
                            class="red-color">*</span>
                        <input type="text" pInputText id="arabicName" [(ngModel)]="user.userName" required
                            #txtNameAr="ngModel" />
                        <small class="p-error" *ngIf="submitted && !user.userName">
                            {{'required'| translate}}
                        </small>


                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="field">
                        <label for="englishName">{{'tableHeader.email'|translate}} </label><span
                            class="red-color">*</span>
                        <input type="text" pInputText id="englishName" [(ngModel)]="user.email" required
                            #txtNameEn="ngModel" />
                        <small class="p-error" *ngIf="submitted && !user.email">
                            {{'required'| translate}}
                        </small>

                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="field">
                        <label for="role" class="w-100"> {{'tableHeader.role'|translate}}</label>

                        <p-dropdown [(ngModel)]="user.role" inputId="role" [options]="roles" placeholder="Select"
                            optionLabel="name" optionValue="name">
                            <ng-template let-option pTemplate="item">
                                <span>
                                    {{ option.name }}
                                </span>
                            </ng-template>
                        </p-dropdown>
                    </div>

                </div>
                <div class="col-md-6 mb-3">
                    <div class="field">
                        <label for="phone">{{'tableHeader.phoneNum' | translate}}</label>
                        <input type="text" pInputText id="phone" [(ngModel)]="user.phoneNumber" />
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()">
        </button>
        <button pButton pRipple label="{{'save' | translate}}" icon="pi pi-check" class="p-button-text"
            (click)="save(user)">
        </button>
    </ng-template>


</p-dialog>


<!--Delete Dialog-->
<p-dialog  [(visible)]="confirmDeleteDialog" [style]="{width: '450px'}" header="{{'confirmDeleteTitle' | translate}}"
    [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p>{{'confirmDeleteMessage'|translate}}</p>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()">
        </button>
        <button pButton pRipple label="{{'save' | translate}}" icon="pi pi-check" class="p-button-text"
            (click)="deleteItem(user)">
        </button>
    </ng-template>
</p-dialog>