<div 
              class="bg-light border-right shadow bg-opacity-75"
               id="mobile-sidebar-wrapper">

            <!-- Menu Icon -->
            <div class="sidebar-heading d-flex  align-items-center w-100">

                <div>
                    <img src="../../assets/images/logo.png" class="handle-img-logo py-1" alt="Logo">
                </div>

                <div>
                    <span class="navbar-toggler-icon text-center" id="menu-icon" 
                        style="cursor: pointer;">
                        <i class="fa-solid fa-bars"></i>
                    </span>
                </div>
            </div>
            <div class="list-group list-group-flush">

                <a class="list-group-item list-group-item-action " routerLink="/dashboard"
                    routerLinkActive="active-link">
                    <i class="fa-solid fa-chart-line p-1"></i>
                </a>
               
                <a class="list-group-item list-group-item-action "
                data-bs-dismiss="offcanvas" aria-label="Close"
                routerLink="/users" routerLinkActive="active-link">
                    <i class="fa-solid fa-users p-1"></i>
                </a>

                <a class="list-group-item list-group-item-action " routerLink="/profile" routerLinkActive="active-link">
                    <i class="fa-solid fa-user p-1"></i>
                </a>
                <a class="list-group-item list-group-item-action " routerLink="/permissions/all" routerLinkActive="active-link">
                    <i class="fa-solid fa-user p-1"></i>
                </a>
                <a class="list-group-item list-group-item-action " routerLink="/product/products" routerLinkActive="active-link">
                    <i class="fa-brands fa-product-hunt p-1"></i>
                </a>

                <a class="list-group-item list-group-item-action " routerLink="/about/all" routerLinkActive="active-link">
                    <i class="fa-brands fa-product-hunt p-1"></i>
                </a>
                <a class="list-group-item list-group-item-action " routerLink="/sliders/all" routerLinkActive="active-link">
                    <i class="fa-solid fa-sliders p-1"></i>
                </a>
                <a class="list-group-item list-group-item-action " routerLink="/category/all" routerLinkActive="active-link">
                    <i class="fa-solid fa-layer-group p-1"></i>
                </a>


                 <a class="list-group-item list-group-item-action " routerLink="/contactUs" routerLinkActive="active-link">
                    <i class="fa-solid fa-address-book p-1"></i>
                </a>



                <a style="cursor: pointer;" class="list-group-item list-group-item-action " (click)="logout()"
                    routerLinkActive="active-link">
                    <i class="fa-solid fa-outdent p-1"></i>
                </a>

            </div>
 </div>