<p-toast />
<div class="container">

  <div class="card">


    <div class="card">

      <p-toolbar styleClass="mb-4 gap-2" *ngIf="hasPermission('CreateContactus')">
        <ng-template pTemplate="left">
          <h5 class="fw-bold">{{userinfo.userName}} Profile</h5>
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton pRipple label="Change password" icon="pi pi-user-edit" class="p-button-success mr-2 rounded"
            (click)="openChangePasswordForm()"></button>
        </ng-template>
      </p-toolbar>
      <p-toolbar styleClass="mb-4 gap-2" *ngIf="hasPermission('CreateContactus')">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Username</th>
              <th>Email Value</th>
              <th>Phone number</th>
              <th>Role</th>
              <th>Operation</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{userinfo.userName}}</td>
              <td>{{userinfo.email}}</td>
              <td>{{userinfo.phoneNumber}}</td>
              <td>{{userinfo.role}}</td>
              <th>
                <button type="submit" class="btn btn-primary text-white" (click)=" openeditModal()">
                  <span>Edit</span>
                </button>
              </th>

            </tr>
            <tr>
              <td colspan="5" class="text-danger">
                Be carefull once you change any of your data you will need to login again

              </td>
            </tr>
          </tbody>
        </table>

      </p-toolbar>




    </div>
  </div>

</div>





<p-dialog [(visible)]="changePasswordV" [style]="{width: '50%'}" header="Change password" [modal]="true"
  styleClass="p-fluid">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
    <div class="row flex justify-content-between align-items-center">
      <div class="form-group my-2 col-lg-8">
        <div class="form-group my-2">

          <input formControlName="email" type="email" class="form-control" id="emailFormControll" placeholder="Email">

          <div class="alert alert-danger"
            *ngIf="changePasswordForm.get('email')?.errors && changePasswordForm.get('email')?.touched">
            <p *ngIf="changePasswordForm.get('email')?.getError('required')">Email is
              required.</p>
            <p *ngIf="changePasswordForm.get('email')?.getError('email')">Invalid email
              format.</p>
          </div>

        </div>
        <div class="form-group my-2">
          <input formControlName="oldPassword" type="password" class="form-control" id="oldpasswordFormControll"
            placeholder="Old Password">
          <div *ngIf="changePasswordForm.get('oldPassword')?.errors && changePasswordForm.get('oldPassword')?.touched">
            <p *ngIf="changePasswordForm.get('oldPassword')?.getError('required')">Password is required</p>
            <p *ngIf="changePasswordForm.get('oldPassword')?.getError('minlength')">Password must be at least 4
              characters</p>
            <p *ngIf="changePasswordForm.get('oldPassword')?.getError('maxlength')">Password cannot exceed 25 characters
            </p>
          </div>
        </div>
        <div class="form-group my-2">
          <input formControlName="newPassword" type="password" class="form-control" id="newpasswordFormControll"
            placeholder="New Password">
          <div *ngIf="changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.touched">
            <p *ngIf="changePasswordForm.get('newPassword')?.getError('required')">Password is required</p>
            <p *ngIf="changePasswordForm.get('newPassword')?.getError('minlength')">Password must be at least 4
              characters</p>
            <p *ngIf="changePasswordForm.get('newPassword')?.getError('maxlength')">Password cannot exceed 25 characters
            </p>
          </div>

        </div>
        <div class="form-group my-2">
          <input formControlName="confirmPassword" type="password" class="form-control" id="confirmpasswordFormControll"
            placeholder="Confirm New Password">
          <div
            *ngIf="changePasswordForm.get('confirmPassword')?.errors && changePasswordForm.get('confirmPassword')?.touched">
            <p *ngIf="changePasswordForm.get('confirmPassword')?.getError('required')">Password is required</p>
            <p *ngIf="changePasswordForm.get('confirmPassword')?.getError('minlength')">Password must be at least 4
              characters</p>
            <p *ngIf="changePasswordForm.get('confirmPassword')?.getError('maxlength')">Password cannot exceed 25
              characters
            </p>
          </div>
        </div>
        <div *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched">
          <p class="alert alert-danger">Passwords do not match.</p>
        </div>

      </div>
      <div class="  col-lg-4">
        <button type="submit" class="btn btn-primary text-white" [disabled]="changePasswordForm.invalid">
          <span>Change Password</span>
        </button>
      </div>
    </div>
  </form>
</p-dialog>



<p-dialog [(visible)]="OpenModalV" [style]="{width: '50%'}" header="Edit {{userinfo.userName}}" [modal]="true"
  styleClass="p-fluid">
  <form [formGroup]="editProfileDataForm" (ngSubmit)="EditProfile(editProfileDataForm)">

    <div class="form-group my-2 col-lg-8">
      <input formControlName="userName" type="text" class="form-control" id="usernameFormControll"
        placeholder="Username" aria-label="Username" [attr.aria-invalid]="editProfileDataForm.get('userName')?.invalid">
      <div class="alert alert-danger"
        *ngIf="editProfileDataForm.get('userName')?.errors && editProfileDataForm.get('userName')?.touched">
        <p *ngIf="editProfileDataForm.get('userName')?.getError('required')">Username
          is required</p>
        <p *ngIf="editProfileDataForm.get('userName')?.getError('minlength')">Username
          must be atleast 2 characters</p>
        <p *ngIf="editProfileDataForm.get('userName')?.getError('maxlength')">Username
          cannot exceed
          25 characters</p>
      </div>
    </div>

    <div class="form-group my-2 col-lg-8">
      <input formControlName="phoneNumber" type="phone" class="form-control" id="phoneNumber"
        placeholder="Phone Number">
      <div class="alert alert-danger"
        *ngIf="editProfileDataForm.get('phoneNumber')?.errors && editProfileDataForm.get('phoneNumber')?.touched">
        <p *ngIf="editProfileDataForm.get('phoneNumber')?.getError('required')">Phone
          number is required.</p>
        <p *ngIf="editProfileDataForm.get('phoneNumber')?.getError('pattern')">Invalid
          phone number format.</p>

      </div>
    </div>


    <div class="form-group my-2 col-lg-8">
      <input formControlName="email" type="email" class="form-control" id="emailFormControll" placeholder="Email">
      <div class="alert alert-danger"
        *ngIf="editProfileDataForm.get('email')?.errors && editProfileDataForm.get('email')?.touched">
        <p *ngIf="editProfileDataForm.get('email')?.getError('required')">Email is
          required.</p>
        <p *ngIf="editProfileDataForm.get('email')?.getError('email')">Invalid email
          format.</p>
      </div>
    </div>


    <div class="form-group my-2 col-lg-8">
      <select formControlName="role" class="form-control" id="roleFormControll">
        <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
      </select>
      <div>
        <div class="alert alert-danger"
          *ngIf="editProfileDataForm.get('role')?.errors && editProfileDataForm.get('role')?.touched">
          <p *ngIf="editProfileDataForm.get('role')?.getError('required')">Role is
            required.</p>
          <p *ngIf="editProfileDataForm.get('role')?.getError('pattern')">Role must be
            either Admin or User.</p>

        </div>
      </div>
    </div>
    <div class="  col-lg-4">
      <button type="submit" class="btn btn-primary text-white" [disabled]="editProfileDataForm.invalid">
        <span>Edit</span>
      </button>
    </div>

  </form>
</p-dialog>