<section>
  <div class="container">
    <div class=" my-3">
      <h2 class="text-center py-3">{{'product.update' | translate}}</h2>
    </div>
  </div>
 
    <div class="container ">
        <form  [formGroup]="updateProduct" (ngSubmit)="saveItem(updateProduct)">
        
        <div class="row my-3 ">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtproductName">{{'product.labels.name' | translate}}</label><span class="red-color">*</span>
                    <input type="text" id="txtproductName"  class="form-control"
                      placeholder="{{'product.labels.name' | translate}}" formControlName="ProductName" 
                />
                <div *ngIf="updateProduct.get('ProductName')?.errors && updateProduct.get('ProductName')?.touched" class="text-danger">
                  <p *ngIf="updateProduct.get('ProductName')?.getError('required')" class="alert alert-danger">{{'errors.required'|translate}}</p>
                
                
                </div>
                  </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="txtcategoryId">Category</label><span class="red-color">*</span>
                  <select name="categoryId" class="form-control" (change)="getCategoryValue($event)" id="" formControlName="categoryId" >
                    <option value="{{category.id}}" *ngFor="let category of categories">{{category.nameEn}}</option>
                  </select>
                
             
                </div>
          </div>

         
         
        </div>


        <div class="row my-3 ">
          <div class="col-lg-4">
                 <div class="form-group">
                  <label for="txttraderPrice">{{ 'product.labels.traderPrice' | translate }}</label><span class="red-color">*</span>
                  <input type="text" id="txtraderPrice" class="form-control"
                    placeholder="{{ 'product.labels.traderPrice' | translate }}" formControlName="traderPrice" 
                   />
                   <div *ngIf="updateProduct.get('traderPrice')?.errors && updateProduct.get('traderPrice')?.touched" class="text-danger">
                    <p *ngIf="updateProduct.get('traderPrice')?.getError('required')" class="alert alert-danger">{{'errors.required'|translate}}</p>
                  
                  
                  </div>
                </div>
                
          </div>
          <div class="col-lg-4">
              <div class="form-group">
                  <label for="txttraderDiscount">{{ 'product.labels.traderDiscount' | translate }}</label><span class="red-color">*</span>
                  <input type="text" id="txttraderDiscount" class="form-control"
                    placeholder="{{ 'product.labels.traderDiscount' | translate }}" formControlName="traderDiscount" 
                     />
                   
                     <div *ngIf="updateProduct.get('traderDiscount')?.errors && updateProduct.get('traderDiscount')?.touched" class="text-danger">
                      <p class="alert alert-danger">Invalid percentage value. Enter a number between 0% and 100%.</p>
                    </div>
                </div>
               
          </div>
          <div class="col-lg-4">
            <div class="form-group">
                <label for="txtquantity">{{ 'product.labels.quantity' | translate }}</label><span class="red-color">*</span>
                <input type="text" id="txtquantity" class="form-control"
                  placeholder="{{ 'product.labels.quantity' | translate }}" formControlName="quantity" 
                 />
                 <div *ngIf="updateProduct.get('quantity')?.errors && updateProduct.get('quantity')?.touched" class="text-danger">
                  <p *ngIf="updateProduct.get('quantity')?.getError('required')" class="alert alert-danger">{{'errors.required'|translate}}</p>
                
                
                </div>
              </div>
        </div>
      </div>

      <div class="row my-3">
          
        <div class="col-md-6">
            <div class="form-group">
                <label for="txtcustomerPrice">{{ 'product.labels.customerPrice' | translate }}</label><span class="red-color">*</span>
                <input type="text" id="txtcustomerPrice"  class="form-control"
                  placeholder="{{ 'product.labels.customerPrice' | translate }}" formControlName="customerPrice" 
               />
               <div *ngIf="updateProduct.get('customerPrice')?.errors && updateProduct.get('customerPrice')?.touched" class="text-danger">
                <p *ngIf="updateProduct.get('customerPrice')?.getError('required')" class="alert alert-danger">{{'errors.required'|translate}}</p>
              
              
              </div>
       
              </div>

              
        </div>

        <div class="col-md-6">
          <div class="form-group">
              <label for="txtcustomerDiscount">{{ 'product.labels.customerDiscount' | translate }}</label><span class="red-color">*</span>
              <input type="text" id="txtcustomerDiscount"class="form-control"
                placeholder="{{ 'product.labels.customerDiscount' | translate }}" formControlName="customerDiscount" 
                />
                <div *ngIf="updateProduct.get('customerDiscount')?.errors && updateProduct.get('customerDiscount')?.touched" class="text-danger">
                  <p class="alert alert-danger">{{'errors.discount'}}</p>
                </div>
            </div>
      </div>
    </div>
          <div class="row my-3">
            <div class="col-md-12">
              <div class="form-group">
                  <label for="txtdescription">{{ 'product.labels.description' | translate }}</label><span class="red-color">*</span>
                  <textarea type="text" id="txtdescription"  class="form-control"
                  placeholder="{{ 'product.labels.description' | translate }}" formControlName="Description" 
                  cols="100" rows="5"
                  >

                  </textarea>
                  <div *ngIf="updateProduct.get('Description')?.errors && updateProduct.get('Description')?.touched" class="text-danger">
                    <p *ngIf="updateProduct.get('Description')?.getError('required')" class="alert alert-danger">{{'errors.required'|translate}}</p>
                    <p *ngIf="updateProduct.get('Description')?.getError('maxlength')" class="alert alert-danger">{{'errors.maxlength'|translate}} 2000</p>
                    <p *ngIf="updateProduct.get('Description')?.getError('minlength')" class="alert alert-danger">{{'errors.minlength'|translate}} 2 </p>
                  
                  
                  </div>
            
                </div>
          </div>
          </div>

     


    





        <div class="row mb-1">
            <div class="col-md-12">
                   
                <div class="form-group">
                  <p-fileUpload 
                  formControlName="NewImages"
                  max-size="10000"
                  accept="image/*" 
                  [multiple]="true" 
                   [customUpload]="true" 
                   (onSelect)="onUpload($event)"
                   chooseLabel="{{'ChooseImage'|translate}}">



                      <!-- Custom content inside the file upload area -->
                      <ng-template pTemplate="content">
                       <div class="p-fileupload-content">
                         <!-- Display the retrieved image when editing -->
                          <ng-container *ngIf="product.images.length > 0; else noImage">
                            <ng-container >
                              <p-table 
                              #dt 
                              [value]="product.images"
                              [rows]="10"  
                              [paginator]="true" 
                              [responsive]="true" 
                              [tableStyle]="{'min-width': '75rem'}"
                              [rowHover]="true"
                              styleClass="p-datatable-gridlines p-datatable-sm"
                               dataKey="id" 
                              responsiveLayout="scroll"
                              stateStorage="session" 
                              stateKey="statedemo-session"
                          
                              >
                               
                                 
                                  <ng-template pTemplate="header">
                                      <tr >
                                          <th 
                                          style="min-width: 10rem;text-align: center;font-size: 14px;"
                                          >image 
                                          </th>
                                          <th style="min-width: 15rem;"></th>
                                      </tr>
                                    
                                  </ng-template>
                                  <ng-template pTemplate="body" let-item  >
                                      <tr>
                                          <td style="max-width: 10rem;text-align: start !important;">
                                            <img  
                                            [src]="'https://roseirae.runasp.net/'+item" 
                                            class="m-3"
                                            style="max-width: 100px; max-height: 100px;"
                                            alt="User Image" 
                                          />
                                          </td>
                                          
                                          
                                          <td style="text-align: end !important; padding-inline-end: 30px; overflow-x: hidden !important;">
                                            <button pButton pRipple icon="pi pi-eye"
                                            type="button"
                                             class="p-button-rounded p-button-primary mr-2"
                                             pTooltip="{{'product.view' | translate}}" tooltipPosition="top"
                                             (click)="viewImage(item)">
                                            </button>
                                              <button pButton pRipple icon="pi pi-trash"
                                              type="button"
                                               class="p-button-rounded p-button-danger mr-2"
                                               pTooltip="{{'delete' | translate}}" tooltipPosition="top"
                                               (click)="DeleteImages(item)">
                                              </button>
                          
                                    
                                          </td>
                          
                                         
                                        </tr>
                                  
                                  </ng-template>
                          
                              </p-table>
                           
                            </ng-container>
                          </ng-container>

                     
                       
                       </div>
                     </ng-template>
                     <ng-template #noImage>
                      <p>No Image to show!</p>
                    </ng-template>
               </p-fileUpload>

               <div *ngIf="isImageValidation" class="text-danger">
                <p  class="alert alert-danger">{{'errors.images'|translate}}</p>
              </div>
               
                </div>
            </div>

            <input type="file" formControlName="ImagesToDelete" class="form-control d-none"/>
           
        </div>
        

        <div class="row my-3">
            <div class="form-actions">
              <button type="button" class="btn btn-raised btn-warning mr-2" [routerLink]="['/product/products']">
                <i class="ft-x"></i> {{'cancel' | translate}}
              </button>
              
              <button type="submit" 
              [disabled]="updateProduct.invalid"
              class="btn-save"
                  [class]="!updateProduct.valid || !updateProduct.dirty ? 'btn btn-raised btn-secondary mr-1' : 'btn btn-raised btn-primary mr-1'">
                  <i class="fas ft-save"></i> {{'save' | translate}}
                </button>
               
            </div>
        </div>

      </form>
    </div>
</section>



<!--viewimage Dialog-->
<p-dialog 
    [(visible)]="viewImageDialog" 
    [style]="{width: '450px'}"  
    header="{{'product-Image' | translate}}" 
    [modal]="true" 
    styleClass="p-fluid">
    
    <ng-template pTemplate="content">
        <img [src]="'https://roseirae.runasp.net/'+imageUrl" class="w-100"  alt="image of product"/>
    </ng-template>

    <ng-template pTemplate="footer">
        <button 
            pButton 
            pRipple 
            label="{{'close' | translate}}" 
            icon="pi pi-times" 
            class="p-button-text" 
            (click)="hideDialog()">
        </button>
  
    </ng-template>
</p-dialog>