<div class="container">
  <p-toast />
  <div class="row">
    <!-- Role Creation Form and Role List -->
    <div class="bg-light px-3 rounded shadow-sm" *ngIf="hasPermission('CreateRole')">
      <!-- Role Creation Form -->
      <div class="row mb-1">
        <div class="col-12 col-md-6 mb-2">
          <form [formGroup]="createRoleForm" (ngSubmit)="createNewRole(createRoleForm)">
            <h5 class="mb-1 text-secondary">Create new role</h5>
            <div class="row d-flex align-items-center">
              <div class="form-group my-2 col-12 col-md-9">
                <input formControlName="role" type="text" class="form-control" id="RoleNameFormControll"
                  placeholder="Role name">
              </div>
              <div class="col-12 col-md-3 mb-2 text-md-end">
                <button type="submit" class="btn btn-success text-white px-4" [disabled]="createRoleForm.invalid">
                  Create
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- Role Section -->
        <div class="col-12 col-md-6 mt-3 mt-md-0" *ngIf="hasPermission('ViewPermissions')">
          <h5 class="mb-3 text-secondary">Select role and view its permissions</h5>
          <p-dropdown [options]="roles" optionLabel="name" placeholder="Select a Role" [(ngModel)]="selectedRole"
            (onChange)="onSelectRole($event.value)" class="p-fluid">
          </p-dropdown>
        </div>
      </div>
      <!-- 55555 -->


    </div>

    <!-- Permissions Management Section -->

    <div class="row" *ngIf="hasPermission('ViewPermissions')">
      <div *ngIf="permissionsByCategory && selectedRole">

        <div class="row">
          <h4 class="text-secondary mb-4"> {{ selectedRole.name }}'s Premissions </h4>
          <div class="d-flex align-items-center gap-2 mb-3">
            <input type="checkbox" class="form-check-input" (change)="toggleAllPermissions($event)"
              [checked]="isAllPermissionsSelected()" />
            <label class="mb-0 fs-6">Select All Permissions</label>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let category of (permissionsByCategory | keyvalue); let i = index" class="col-md-3 mb-2">
            <!-- Category Name with "Select All" Checkbox -->
            <div class="d-flex align-items-center gap-2 border-bottom pb-2">
              <input type="checkbox" class="form-check-input mx-1"
                (change)="toggleCategorySelection(category.value, $event)" [checked]="isAllSelected(category.value)" />
              <h5 class="text-primary mb-0 mx-1">{{ category.key }}</h5>
            </div>

            <ul class="list-group list-group-flush">
              <li *ngFor="let permission of category.value" class="list-group-item d-flex align-items-center">
                <input type="checkbox" class="form-check-input me-3" [(ngModel)]="permission.isGranted"
                  (change)="checkCategorySelection(category.value)" />
                <span class="text-muted">{{ permission.name }}</span>
              </li>
            </ul>
          </div>
        </div>


        <!-- Save Permissions Button -->
        <div class="text-end mt-4 mb-5">
          <button *ngIf="hasPermission('EditRoles')" class="btn btn-success px-4 m-2" (click)="savePermissions()">Save
            Permissions</button>
          <button *ngIf="hasPermission('DeleteRoles')" class="btn btn-danger px-4 m-2"
            (click)="deletePermission()">Delete </button>

        </div>
      </div>
    </div>


  </div>


</div>